h2 {
    font-family:arial;
}

form {
    display: inline-block;
}

#button, #buttonRemove {
    display: inline-block;
    height:20px;
	width:70px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
	padding: 4px;
}

.list {
	font-family:garamond;
	color:#cc0000;
}

.item  {
	width: 150px;
	padding: 10px;
	border: 1px solid black;
	margin: 5px;
	color: black;
	text-align: center;
}
.selected {
	border: 2px solid black !important;
	color: black !important;
	background-color:#cc0000;
}